<div class="container">
    <h3 class="section-heading text-center ">Contact Me</h3>
    <div class="row contact-section">
        <div class="col-md-2 image">
            <img src="/images/profile.png " alt="This is me!"
                class="rounded-circle mx-auto d-block img-fluid profile-pic ">
            <p class="text-center padding-top-5">Luke Leigh</p>
        </div>
        <div class="col-md-10">
            <p class="text-justify description ">
                Something
            </p>
            <p class="thanks theme-color padding-top-10">Something</p>
            <p class=" padding-top-5 helping-line">I can help with the following:</p>
            <ul class="list-unstyled list">
                <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon">
                    </i>Something</li>
                <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon">
                    </i>Something</li>
                <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon">
                    </i>Something</li>
                <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon">
                    </i>Something</li>
            </ul>
            <p class="text-left info">Drop me line at <span class="theme-color"> <a
                        href="mailto: me@lukeleigh.com">me@lukeleigh.com</a> </span> or call me at <span
                    class="theme-color">07977 532524</span></p>
            <div class="social-media">
                {% include social.html social= site.data.profile.social %}
            </div>
        </div>
    </div>
</div>